{% extends "layout.twig" %}

{% block body %} 

    <div>
        <a href="{{ path('addformation') }}" style="float: right; font-size: small;">Ajouter une formation</a>
        <h1>Formations</h1>
    </div>
    <hr>
    <div class="row">
        {% for formation in formationList %}

            <div class="col-xl-3 col-sm-6 mb-3">
                {% set buttoncolor = ['bg-warning', 'bg-primary', 'bg-danger','bg-success' , 'bg-info'] %}

                <div class="card text-white {{ cycle(buttoncolor, loop.index0) }} o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fa fa-fw fa-list"></i>
                        </div>
                        <div class="mr-5 idformation">
                            {{ formation.name }}
                        </div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1 flip" id="{{ formation.idformation }}" data-toggle="collapse" href="#collapse{{loop.index}}" role="button" aria-expanded="false" aria-controls="collapse{{loop.index}}">
                        <span class="float-left">Details</span>
                        <span class="float-right">
                            <i class="fa fa-angle-right"></i>
                        </span>
                    </a>
                    <div class="card-footer text-white clearfix small z-1 details collapse" id="collapse{{loop.index}}">
                        <p>session active<br>
                            <span class="session_active" id="{{ formation.idformation }}"></span>
                        </p>
                        <p><a href="{{ path('addformation') }}" style="float: right; font-size: small; color:black">Ajouter une session</a></p>
                    </div>
                </div>
            </div>
        {% endfor %}

    {% endblock %}

    {% block js %}

        {{ parent() }}

        <script src="/js/sessionactive.js"></script>

    {% endblock %}