<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="{{ path('index') }}">IDC conseils</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        
        <span class="navbar-toggler-icon"></span>
    </button>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="{{ path('index') }}">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Accueil</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
                    <a class="nav-link" href="{{ path('charts') }}">
                        <i class="fa fa-fw fa-area-chart"></i>
                        <span class="nav-link-text">Statistiques</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                    <a class="nav-link" href="{{ path('learners') }}">
                        <i class="fa fa-fw fa-table"></i>
                        <span class="nav-link-text">Apprenants</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
                    <a class="nav-link" href="{{ path('formation') }}">
                        <i class="fa fa-fw fa-wrench"></i>
                        <span class="nav-link-text">Formations</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
                    <a class="nav-link" href="{{ path('register') }}">
                        <i class="fa fa-fw fa-wrench"></i>
                        <span class="nav-link-text">Enregistrez un Administrateur</span>
                    </a>
                </li>

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
                    <a class="nav-link" href="{{ path('form') }}">

                        <i class="fa fa-fw fa-link"></i>
                        <span class="nav-link-text">Link</span>
                    </a>
                </li>
            </ul>
            
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-fw fa-sign-out"></i><a href="{{ path('logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    {% endif %}
</nav>
